@media(max-width: 575px){
    .navbar{
        padding-top: 15px;
    }
    .ml-auto, .mx-auto{
        margin-left: 0 !important;
    }
    .search-form-control{
        width: 300px !important;
    }
    .navbar-dark .navbar-brand{
        margin-bottom: 12px;
    }
    .navbar-nav .dropdown-menu{
        position: absolute;
    }
    .dropdown-menu{
        transition: none;
    }
    /* .dropdown-menu.show{
        left: 0;
    } */
    /* .dropdown-menu::after{
        display: none;
    } */
    .main-content{
        margin-top: 130px;
    }
    .navbar-item .search-bar{
        margin-bottom: 12px;
    }
    .src-area{
        flex-direction: column;
        align-items: flex-start !important;
    }
    .form-btn{
        margin-top: 13px;
        margin-bottom: 23px;
    }
    .filter-area{
        margin-top: -70px;
        margin-left: 100px;
    }
    .form-btn a{
        margin-left: 0;
    }
}